
.slider-prods{
    width: 100%;
    overflow-x: hidden;
}

.ProdsList{
    width: 100%;
    height: 100%;
}

.prods{
    width: 3000%;
    height: 100%;
    display: flex;
    transition: margin-left 1s ease;
    animation: slide-prods 600s infinite;
    position: relative;
}

@keyframes slide-prods{
    0%{margin-left: 0;}
    100%{margin-left: -2900%;}
}

.category-info{
    width: 3.33333%;
    height: 4rem;
    position: sticky;
    left: 0;
    margin: 0;
}

.category-info h4{
    font-size: 20px;
    font-weight: 800;
    text-align: center;
    text-transform: uppercase;
}

.category-info p{
    text-align: center;
}

.card{
    margin-top: 4rem;
    width: 3.3333333%;
    height: calc(100% - 4rem);
    display: flex;
    flex-direction: row;
}

.book{
    width: 18%;
    height: 100%;
    margin: 0 1%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border: solid 2px black;
}

.book img{
    width: 100%;
    height: 200px;
}

.book .category{
    text-transform: capitalize;
}

.book .title-book{
    height: 20px;
    overflow-x: hidden;
}

.book .book-info{
    padding: 5px;
}