.dish {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
  background-size: cover;
  background-position: center;
  position: relative;
  .dish-info {
    width: 75%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    padding: 0.5rem;
    opacity: 0;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    h4,
    p {
      margin: 0;
      font-weight: 600;
      color: white;
    }
  }
}

.dish:hover {
  flex: 5;
  transition: flex 3s ease;
}
.dish:hover > .dish-info {
  opacity: 1;
}
