#layout {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url("../Media/ragu.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  .row {
    width: 100%;
    text-align: right;
    color: white;
    h1 {
      font-size: 4rem;
      font-weight: 700;
    }
    a,
    a:link,
    a:visited {
      color: white;
      text-decoration: none;
      margin: 0 2px;
      padding: 0.5rem 1rem;
      border: 1px solid whitesmoke;
      position: relative;
      transition: background-color 0.5s ease;
      transform-origin: left;
    }
    a:hover {
      color: black;
      background-color: white;
    }
  }
}
