.container {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translateX(-50%);
  height: 80%;
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  opacity: 0;
  z-index: -1;
  h1 {
    text-transform: uppercase;
    text-align: center;
  }
  .row {
    height: 50%;
  }
}
