.movie {
  width: 10%;
  height: 100%;
  position: relative;
  transition: all 0.5s ease;
  img {
    width: 100%;
    height: 100%;
  }
  .movie-info {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: white;
    opacity: 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    p {
      margin: 0;
      font-weight: 700;
    }
  }
}
.movie:hover {
  transform: scale(1.2);
  z-index: 5;
  img {
    filter: brightness(50%);
  }
  .movie-info {
    opacity: 1;
  }
}
